{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "React"
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
