* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: #333;
}

.App {
  max-width: 728px;
  min-width: 728px;

  margin: 2rem auto;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem;
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
  width: 95%;
}

.Form input:focus {
  border: 1px solid #ff9900;
}

.Form button {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #ff9900;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.Task--text {
  overflow-wrap: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  width: 30em;
}

.Task h1 {
  color: #ff9900;
}

.Task--buttonDelete {
  border: none;
  background: #d31515;
  border-radius: 20px;
  color: #fff;
}

.Task--buttonComplete {
  border: none;
  background: #12a112;
  border-radius: 20px;
  color: #fff;
  margin-right: 1rem;
}

.Logout {
  float: right;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}

.Login {
  padding: 1rem;
  align-items: center;
}

.Login form {
  margin: 0 auto;
  max-width: 420px;
  min-height: 500px;
  background: #444;
  padding: 2rem 2rem;
}

.Login > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Login input:focus {
  border: 1px solid #ff9900;
}

.Redirect {
  font-size: 1.5rem;
  color: #5858f3;
  cursor: pointer;
  text-decoration: underline;
}

.Links {
  text-align: center;
  padding: 1rem;
}

.Git {
  float: left;
  padding: 0.5rem 0.5rem;
}
